*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #9b59b6;
    font-family: 'Montserrat', sans-serif;
}

h1{
    text-align: center;
    margin: 2rem;
    font-family: 'Permanent Marker', cursive;
    font-size: 2.8rem;
    font-weight: 600;
}

.loader-container{
    display: none;
}

.loader{
    width: 10px;
    height: 35px;
    background: #f5f6fa;
    margin: 5px;
    animation: loading 1s ease-in-out infinite alternate;
}

.details{
    text-align: center;
}

.main-container{
    min-height: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.ip-display, .location-display, .geo-display{
  font-size: calc(2rem + 1vw); 
  margin: 0.8rem;  
  color:burlywood; 
}

.lookup-btn{
    border: none;
    background: #353b48;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0.8rem 1.5rem;
    border-radius: 25px; 
    cursor: pointer; 
    transition: opacity 250ms linear;
}

.lookup-btn:hover{
    opacity: 0.8;
}


@keyframes loading{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.3);
    }
}